{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 140,
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svg", "options": { "parser": "html" } }]
}
